#navBar {
  background-color: white;
}

#headerLogo {
  height: 90px;
  width: 103px;
}

.navButton {
  font-size: 15px;
  color: white;
  background-color: #faaf46;
  border: 1px solid #faaf46;
  border-radius: 50px;
  transition: 200ms; 
  font-family: 'Signika', sans-serif;
}

.navButton:hover {
  border: 1px solid white;
  transition: 200ms; 
}

header {
  padding: 10px;
  background-color: #726b69;
}

#logoutButton {
  font-size: 18px;
  color: white;
  background-color: #faaf46;
  border: 1px solid #faaf46;
  border-radius: 50px;
  transition: 200ms; 
  font-family: 'Signika', sans-serif;
  /* float: right; */
  position: absolute;
  top: auto;
  right: 0;
  margin-right: 15px;
}

#logoutButton:hover {
  border: 1px solid white;
  transition: 200ms; 
}