.navTitle {
  color: #b13324;
  font-size: 25px;
  border: none;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
}

.navRight {
  float: right;
}

header {
  padding: 10px;
  background-color: #f7f7f7;
}