.dashBoard {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: inherit;
  padding-bottom: 2em;
  opacity: 95%;
}

button {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}