#dashContainer {
  height: 100vh;
}

#efpLogoDash {
  height: 105px;
  width: 120px;
  display: inline-block;
}

#dashRow {
  margin-top: 20px;
}

#clientNameButton {
  border-radius: 50px;
  font-size: 20px;
}

#clientNameButton:hover {
  background-color: white;
}

button {
  background-color: transparent;
  border: none;
  color: #424B54;
  font-family: 'Heebo', sans-serif;
}

thead {
  font-size: 25px;
}

tbody {
  color: #424B54;
  font-size: 18px;
}

.dashForm {
  margin-top: 20px;
}

#addClient, #checkInClient{
  float: right;
  background-color: white;
  color: #B13324;
  border: none;
  transition: 200ms;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

#cancelButtonDiv {
  display: inline-block;
}

#cancelButton {
  background-color: white;
  color: #B13324;
  border: none;
  transition: 200ms;
  font-family: 'Heebo', sans-serif; 
  font-weight: bold;
  margin-left: 15px;
  float: right;
}

#checkInClient:hover, #addClient:hover, #cancelButton:hover {
  background-color: transparent;
  color: white;
  transition: 200ms;
}

.checkboxLabel {
  font-family: sans-serif;
  font-size: 18px;
}

#firstColTitle {
  color: white;
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: -10px;
}

#firstColHeader {  
  padding: 10px;
  background-color: #faaf46;
  margin: 0px;
  margin-top: -20px;
  width: 100%;
  display: inline-block;
}

#secondColTitle {
  color: white;
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: -10px;
}

#secondColManualTitle {
  color: white;
  font-size: 30px;
  display: inline-block;  
  font-weight: bold;
  margin-bottom: -10px;
}

#secondColManualHeader {
  background-color: #424B54;
  padding: 10px;
  margin: 0px;
  width: 100%;
  display: inline-block;   
}

#secondColHeader {
  background-color: #8AA8A1;
  padding: 10px;
  margin: 0px;
  margin-top: -20px;
  width: 100%;
  display: inline-block;  
}

#firstCard, #secondCard, #thirdCard {
  height: 675px;
  overflow: scroll;
  font-family: 'Heebo', sans-serif;
}

#dashBody {
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Heebo', sans-serif;
  color: #424B54;
}

#thirdCol {
  height: 675px;
  overflow: scroll;
}

#thirdColTitle {
  color: white;
  background-color: #9AC2C5;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  margin: 0px;
  margin-top: -20px;
  font-weight: bold;
}

#orangeDiv {
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

#homeIcon {
  margin-top: -20px;
  margin-right: 10px;
}

#dashboardTitle {
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  font-weight: bolder;
  color: #424B54;
  font-size: 45px;
}

.clientInformation {
  font-size: 20px;
}

.selectedOrder {
  background-color: #dedede;
}

#selectText {
  margin: 50px;
  font-family: 'Heebo', sans-serif;
  font-weight: bolder;
  color: #424B54;
  font-size: 35px;
  text-align: center;
}

#times {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #faaf46;
}

#waitTimeLabel {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;  
  color: #424B54;
}

#houseHoldIdInput {
  border: 0.5px solid black;
  border-radius: 5px;
  border: 1px solid #faaf46;
}

#idManualLabel {
  margin-top: 25px;
}

#parkingNumberManual {
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  border: 1px solid #faaf46;
}

#submitButtonManual {
  font-size: 18px;
  color: white;
  background-color: #B13324;
  border: 1px solid #B13324;
  border-radius: 50px;
  width: 30%;
  transition: 200ms; 
  font-family: 'Heebo', sans-serif;
}

#infoName, #infoId {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: #424B54;;
}