button {
  background-color: white;
  border: none;
  color: black;
}

thead {
  font-size: 25px;
}

#addClient {
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkboxLabel {
  font-family: sans-serif;
  font-size: 18px;
}

#firstCol {
  border-right: 1px solid lightgray;
  height: 100%;
}

#thirdCol {
  border-left: 1px solid lightgray;
}