footer {
    padding: 20px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#726b69;
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Signika', sans-serif;
    margin-top: 100px;
}