#titleDiv {
  margin: auto;
  width: 100%;
  background-color: #faaf46;
  color: white;
  padding: 20px;
}

#instructionsDiv {
  margin: auto;
}

#checkInTitle {
  text-align: center;
  margin: auto;
  font-size: 35px;
}

#spotForm {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

#instructions {
  text-align: left;
  font-size: 22px;
  font-family: 'Heebo', sans-serif;
  margin: auto;
  margin-right: 20px;
  margin-left: 20px;
  color: #8AA8A1;
  font-weight: bold;
  margin-top: 30px;
}

#lastPickup  {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 25px;
}


#clientInfo {
  margin: 25px auto;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  color: #424B54;
}

#accountName {
  font-size: 30px;
}

#houseId {
  font-size: 25px;
}

#greyLine {
  width: 100%;
  height: 5px;
  background-color: #424B54;
}

#clientInput {
  margin: auto;
  text-align: left;
}

#parkingNumber {
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  border: 1px solid #faaf46;
}

#waitTimeLabel {
  font-size: 20px;
  margin: 0;
}

#checkInButton {
  color: white;
  font-size: 18px;
  background-color: #B13324;
  border: 1px solid #B13324;
  border-radius: 50px;
  transition: 200ms;
  font-family: 'Heebo', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

#checkInButton:hover {
  border: 1px solid white;
  transition: 200ms;
}

#lastStep {
  font-size: 25px;
  font-family: 'Heebo', sans-serif;
  color: #8AA8A1;
  font-weight: bolder;
}

#clientQuestions {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #424B54;
}

.check {
  margin-left: 10px;
}

#foodRestrictionsLabel {
  font-family: sans-serif;
  font-size: 18px;
}

textarea {
  border: 0.5px solid black;
  border-radius: 5px;
  border: 1px solid #faaf46;
}

.checkboxLabel {
  font-family: sans-serif;
  font-size: 18px;
}

#nameLabel {
  font-size: 18px;
}

#submitButton {
  color: white;
  font-size: 18px;
  background-color: #B13324;
  border: 1px solid #B13324;
  border-radius: 50px;
  width: 25%;
  transition: 200ms;
  font-family: 'Heebo', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

#submitButton:hover, #backButton:hover {
  border: 1px solid white;
  transition: 200ms; 
}

#backButton {
  color: white;
  font-size: 18px;
  background-color: #B13324;
  border: 1px solid #B13324;
  border-radius: 50px;
  width: 25%;
  transition: 200ms;
  font-family: 'Heebo', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

#thankYou {
  text-align: left;
  font-size: 25px;
  font-family: 'Heebo', sans-serif;
  margin-top: 25px;
}

#thankYouMessage {
  color: #8AA8A1;
  font-weight: bolder; 
}

#waitTime {
  font-size: 23px;
  color: #424B54;
}

#logOutPrompt {
  font-size: 18px;
  color: #424B54;
  font-weight: bold;
}

#thankYouLogout {
  font-size: 18px;
  color: white;
  background-color: #B13324;
  border: 1px solid #B13324;
  border-radius: 50px;
  transition: 200ms; 
  font-family: 'Heebo', sans-serif;
}
