#registerCard {
  width: 400px;
  height: 400px;
}

#register {
  font-size: 30px;
  font-family: 'Signika', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

#registerContainer {
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#registerRow {
  text-align: center;
}

#loginButton {
  color: white;
  font-size: 15px;
  background-color: #b13324;
  border: 1px solid #b13324;
  border-radius: 2px;
  transition: 200ms;
  font-family: 'Signika', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginButton:hover {
  border: 1px solid white;
  transition: 200ms;
}

.changeButton {
  font-size: 15px;
  color: black;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 2px;
  transition: 200ms; 
  font-family: 'Signika', sans-serif;
}

.changeButton:hover {
  border: 1px solid white;
  transition: 200ms; 
}

.label {
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: right;
  font-family: 'Signika', sans-serif; 
  font-size: 16px;
}

.userRegisterInput {
  display: inline-block;
  margin-left: 8px;
  font-size: 16px;
}

#center {
  margin-top: 50px;
  font-family: 'Signika', sans-serif;
  font-size: 16px;
}